anyio==4.4.0
attrs==23.2.0
blinker==1.6.2
celery==5.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
diskcache==5.6.3
fastapi==0.111.0
filelock==3.15.1
fsspec==2024.6.0
gitdb==4.0.10
GitPython==3.1.31
httpx==0.27.0
idna==3.7
Jinja2==3.1.4
joblib==1.4.2
lxml==4.9.2
mysql-connector==2.2.9
numpy==1.26.4
packaging==24.1
psutil==5.9.8
pydantic==2.7.3
pydot==2.0.0
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.5.0
scipy==1.13.1
starlette==0.37.2
streamlit==1.21.0
tqdm==4.66.4
typing_extensions==4.8.0
uvicorn==0.30.1
validators==0.20.0
xgboost==1.7.6
yarl==1.9.4
